.dhx_calendar {
	background-color: #0c1543;
}

.dhx_calendar-day {
color: white;
}

.dhx_calendar-day--muffled{
opacity: .4;
}


.dhx_calendar-day--selected:before {
background-color: navajowhite;
}

.dhx_calendar-day--selected {
color: black;
}

.dhx_button--view_link.dhx_button--color_secondary {
color: navajowhite;
}

.dhx_calendar-week-number, .dhx_calendar-weekday {
color: rgba(255,255,255,.7);
}

.dhx_calendar-day--weekend {
color: chocolate;
}

.dhx_calendar-month, .dhx_calendar-year {
color: white;
}

.dhx_calendar-month--selected:before, .dhx_calendar-year--selected:before {
background-color: navajowhite;
}

.dhx_calendar-month--selected, .dhx_calendar-year--selected {
color: black;
}

.dhx_button--view_link.dhx_button--color_primary {
color: navajowhite;
}

.dhx_button--view_link.dhx_button--color_primary:focus, .dhx_button--view_link.dhx_button--color_primary:hover {
background-color: lightslategray;
color: black;
}